{% extends "base.html" -%}

{%- macro make_div(data) %}
	{%- for item in data %}
		{%- if item.type in ("row","column") %}
			<div class={{ item.type }} {{ grid_style(item.content) }}>
				{{ make_div(item.content) }}
			</div>
		{%- else %}
			{{ make_content(item) }}
		{%- endif %}
	{%- endfor %}
{%- endmacro -%}

{%- macro make_content(data) %}
	<div class="container fill" {{ make_style(data.container_style) }}>
	{%- if data.type == "colour" %}
		<div class="fill" {{ make_style(data.style) }}></div>
	{%- endif %}
	{%- if data.type == "text" %}
		<div class="text flex-center fill">
			{{ make_text(data.content, data.style) }}
		</div>
	{%- endif %}
	{%- if data.type in ("scrolling horizontal", "scrolling vertical") %}
		<div class="scrolling-{{ data.type.split()[1] }}">
			<div class="marquee-{{ data.type.split()[1] }}">
				{{ make_text(data.content, data.style) }}
			</div>
		</div>
	{%- endif %}
	{%- if data.type == "image" %}
		<div class="image center">
			<img src={{ data.content }} class="fill">
		</div>
	{%- endif %}
	{%- if data.type == "slideshow" %}
		<div class="slideshow fill">
			{%- for item in data.content %}
				{%- if item.type == "image" %}
					<div class="slide fade fill" data-time={{ item.time }} {% if loop.first %}style="display: block;"{% endif %}>
				  		<img src={{ item.content }} class="center fill">
					</div>
				{%- endif %}
				{%- if item.type == "video" %}
					<div class="slide fade fill" {% if loop.first %}style="display: block;"{% endif %}>
				  		<video class="center fill">
							<source src={{ item.content }}>
						</video>
					</div>
				{%- endif %}
			{%- endfor %}
		</div>
	{%- endif %}
	{%- if data.type == "video" %}
		<video autoplay loop class="center fill">
			<source src={{ data.content }}>
		</video>
	{% endif %}
	</div>
{%- endmacro -%}

{%- macro make_text(content, style) -%}
	<p {{ make_style(style) }}>{{ content }}</p>
{%- endmacro -%}

{%- macro make_style(attributes) -%}
	{%- if attributes|length > 0 -%}
		style="{% for key, value in attributes.items() %}{{ key }}: {{ value }}; {% endfor %}"
	{%- endif -%}
{%- endmacro -%}

{# {%- macro row_col_style(item) -%}
	style="{%- if item.type == 'row' -%}height{%- else -%}width{%- endif -%}: {{ item.size*100 }}%;"
{%- endmacro -%} #}

{%- macro grid_style(content) -%}
{%- if content[0].type in ("row", "column") -%}
style="grid-template-{{ content[0].type }}s:{% for i in content %} {{ i.size }}fr{% endfor %};"
{%- endif -%}
{%- endmacro -%}