{% macro make_div(data) %}
	{%- for item in data %}
		{%- if item.type in ("row","col") %}
			<div class={{item.type}} style="{%- if item.type == "row" %}height{%- else %}width{%- endif %}:{{(item.size*100)~"%"}}">
				{{ make_div(item.content) }}
			</div>
		{% else %}
			{{ gen_content(item) }}
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro gen_content(data) %}
	{% if data.type == "colour" %}
		<div class="fill" class={{data.type}} style="background-color: {{data.content}};"></div>
	{% endif %}
	{% if data.type == "text" %}
		<div type="fill" class={{data.type}} style="text-align: center;">
			<h1>{{data.content}}</h1>
		</div>
	{% endif %}
{% endmacro %}

<!doctype html>
<html>
	<head>
		<title>Display Window</title>
		<link rel="stylesheet" href="../styles.css">
	</head>
	<body>
		<div class="wrapper">
			{{ make_div(contents) }}
		</div>
	</body>
</html>