function main() {
    setup();
    // refresh();
}

function setup() {
    init_marquees();
    spawn_slideshows();
}

// function refresh() {
//     progress_slides();
//     setTimeout(refresh, parseInt("{{ contents }}"));
// }

function spawn_slideshows() {
    const slideshows = document.getElementsByClassName("slideshow");
    for (const slideshow of slideshows) {
        const videos = slideshow.querySelectorAll("video");
        for (const video of videos) {
            video.addEventListener("ended", () => { progress_slideshow(slideshow); });
        }
        const first = slideshow.firstElementChild;
        if (first.querySelector("img")) {
            setTimeout(progress_slideshow, parseInt(first.dataset.time), slideshow);
        } else {
            first.querySelector("video").play();
        }
    }
}

function progress_slideshow(slideshow) {
    const slides = slideshow.children;
    for (var slide = 0; slide < slides.length; slide++) {
        if (slides[slide].style.display === "block") {
            slides[slide].style.display = "none";
            slides[(slide + 1) % slides.length].style.display = "block";
            if (slides[(slide + 1) % slides.length].querySelector("img")) {
                setTimeout(progress_slideshow, parseInt(slides[(slide + 1) % slides.length].dataset.time), slideshow);
            } else {
                slides[(slide + 1) % slides.length].querySelector("video").play();
            }
            break;
        }
    }
}

function init_marquees() {
    const speed = 0.5;

    const vertical = document.getElementsByClassName("scrolling-vertical");
    for (const current of vertical) {
        const marquee = current.firstElementChild;
        const copies = Math.max(Math.round(2 / (current.querySelector("p").offsetHeight / current.offsetHeight)), 2);
        for (var i = 0; i < copies - 1; i++) {
            marquee.appendChild(current.querySelector("p").cloneNode(deep = true));
        }
        marquee.animate([
            { transform: "translateY(0)" },
            { transform: `translateY(-${100 / copies}%)` }
        ], {
            duration: marquee.offsetHeight / speed,
            iterations: Infinity
        });
    }

    const horizontal = document.getElementsByClassName("scrolling-horizontal");
    for (const current of horizontal) {
        const marquee = current.firstElementChild;
        const copies = Math.max(Math.round(2 / (current.querySelector("p").offsetWidth / current.offsetWidth)), 2);
        for (var i = 0; i < copies - 1; i++) {
            marquee.appendChild(current.querySelector("p").cloneNode(deep = true));
        }
        marquee.animate([
            { transform: "translateX(0)" },
            { transform: `translateX(-${100 / copies}%)` }
        ], {
            duration: marquee.offsetWidth / speed,
            iterations: Infinity
        });
    }
}

// function progress_slides() {
//     const containers = document.getElementsByClassName("slideshow");
//     for (const container of containers) {
//         const current = container.children;
//         for (var slide_index = 0; slide_index < current.length; slide_index++) {
//             if (current[slide_index].style.display === "block") {
//                 current[(slide_index + 1) % current.length].style.display = "block";
//                 current[slide_index].style.display = "none";
//                 break;
//             }
//         }
//     }
// }


function refresh_page() {
    location.reload();
}

document.addEventListener('DOMContentLoaded', main);
eel.expose(refresh_page);