function main() {
    setup();
    refresh();
}

function setup() {
    init_marquees();
}

function refresh() {
    progress_slides();
    setTimeout(refresh, parseInt("{{ contents }}"));
}

function init_marquees() {
    const speed = 0.5;

    const vertical = document.getElementsByClassName("scrolling-vertical");
    for (const current of vertical) {
        const marquee = current.firstElementChild;
        const copies = Math.max(Math.round(2 / (current.querySelector("p").offsetHeight / current.offsetHeight)), 2);
        for (var i = 0; i < copies - 1; i++) {
            marquee.appendChild(current.querySelector("p").cloneNode(deep = true));
        }
        marquee.animate([
            { transform: "translateY(0)" },
            { transform: `translateY(-${100 / copies}%)` }
        ], {
            duration: marquee.offsetHeight / speed,
            iterations: Infinity
        });
    }

    const horizontal = document.getElementsByClassName("scrolling-horizontal");
    for (const current of horizontal) {
        const marquee = current.firstElementChild;
        const copies = Math.max(Math.round(2 / (current.querySelector("p").offsetWidth / current.offsetWidth)), 2);
        for (var i = 0; i < copies - 1; i++) {
            marquee.appendChild(current.querySelector("p").cloneNode(deep = true));
        }
        marquee.animate([
            { transform: "translateX(0)" },
            { transform: `translateX(-${100 / copies}%)` }
        ], {
            duration: marquee.offsetWidth / speed,
            iterations: Infinity
        });
    }
}

function progress_slides() {
    const containers = document.getElementsByClassName("slideshow-container");
    for (const container of containers) {
        const current = container.children;
        for (var slide_index = 0; slide_index < current.length; slide_index++) {
            if (current[slide_index].style.display === "block") {
                current[(slide_index + 1) % current.length].style.display = "block";
                current[slide_index].style.display = "none";
                break;
            }
        }
    }
}

document.addEventListener('DOMContentLoaded', () => { main() });