* {
    padding: 0;
    margin: 0;
    position: relative;
}

p {
    display: inline-block;
}

img {
    vertical-align: middle;
    object-fit: contain;
}

.wrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
}

.row {
    display: grid;
    width: 100%;
    float: left;
}

.column {
    display: grid;
    height: 100%;
    float: left;
}

.fill {
    height: 100%;
    width: 100%;
}

.container {
    box-sizing: border-box;
}

.text {
    float: none;
}

.center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.flex-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrolling-horizontal {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    overflow: hidden;
}

.marquee-horizontal {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.slide {
    display: none;
}

.fade {
    animation: fade 1.5s cubic-bezier(0.86, 0.17, 0.54, 0.69);
}

@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.scrolling-vertical {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.marquee-vertical {
    display: inline-block;
    text-align: center;
}